.nav li {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  &:has(ul:not(:empty))::after {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-style: solid;
    border-color: var(--secondary-light);
    border-width: 0 2px 2px 0;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
}

.nav ul > li {
  &:has(ul)::after {
    transform: rotate(225deg) translateY(-2px);
  }

  &:has(ul):hover::after {
    border-color: var(--accent);
    transform: rotate(45deg);
  }
}

.nav li ul {
  display: none;

  & li {
    min-width: max-content;
    border-bottom: 1px solid var(--secondary-light);

    &:has(ul:not(:empty))::after {
      transform: rotate(135deg);
    }

    &:has(ul):hover::after {
      transform: rotate(-45deg);
    }
  }
}

.nav li:hover > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;

  & ul {
    top: 0;
    left: 100%;
  }
}
