:root {
  --primary: #e7cdff;
  --primary-dark: #ddaaff;
  --secondary-light: #cccccc;
  --secondary: #808080;
  --secondary-dark: #333;
  --accent: cornflowerblue;
  --border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--primary);
}

.main {
  margin: 2.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
